// admin
.title-dash {
    margin: 24px 24px 0px 24px;
    color: $blue-dark;
    font-weight: bold;
}

.tittle-btn {
    padding: 24px;

    h4 {
        color: $blue-dark;
    }

    p {
        margin-left: 24px;
        color: gray("500");
    }
    
}

.board-list {

    div {

        div {
            
            h6 {
                color: gray("500");    
            }
        }

        a{

            text-decoration: none;
            color: gray("500");
            transition: 0.3s;

            &:hover {
                box-shadow: $box-shadow-lg !important;
            }

            div {
                
                h3 {
                    font-weight: 500;
                    color: $blue-dark;
                }

                img {
                    height: 32px;
                    width: 32px;
                }
            }
        }
    }
}

.post-list {

    margin-bottom: 80px;

    h6 {
        color: gray("600");
    }

    .post {
        position: relative;

        h6 {
            color: $blue-dark;
        }

        a {
            position: absolute;
            right: 24px;
            bottom: 24px;
            color: #FFF;
        }

        p {
            color: gray("600");
            margin: 0px;

            em {
                font-weight: 200;
                font-size: 14px;
                color: gray("600");
            }
        }
    }
}

.form-list {
    margin: 0px 24px;
    padding: 24px;
    margin-bottom: 80px;
}

.magang-right {

    div {
        align-items: center;
        justify-items: center;

    }
}

.list-status-sk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;

    span {
        height: 100%;
        width: 8px;
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgb(8, 233, 8);
        border-radius: 4px 0px 0px  4px ;
    }
    p {
        margin: 0px;
    }

    > div{
        color: rgb(8, 233, 8);
    }
}

@media only screen and (max-width: 500px) {

    .tittle-btn {
        flex-direction: column !important;
        justify-content: center !important;
        
        h4 {
            margin-bottom: 24px;
        }
    }
}
