
.table-list {

    padding: 24px;

    .table {
    
        border: none;
    
        thead, tfoot {
    
            border: none;
    
            tr > th{
    
                font-size: 14px;
                color: gray("600");
                font-weight: 500;
            }
        }
        
        tbody > tr > td{
    
            // padding: 24px;
            background-color: white;
            // margin: 24px 12px;
            border-radius: 4px;
        }
        
        th {
            border: none;
        }
        td {
            border: 0.5px solid rgba(229, 229, 229, 0.575);
        }
    }
}
